@model NihonUnisys.Olyzae.Models.GroupThread

@{
    ViewBag.Title = "Index";

    ICollection<NihonUnisys.Olyzae.Models.Message> messages = (ICollection<NihonUnisys.Olyzae.Models.Message>)ViewBag.Messages;
}

@Html.Partial("_AccountUserProjectMenuPartial", (NihonUnisys.Olyzae.Models.Project)ViewBag.Project)

<div>
    <h4>スレッド「@Model.ThreadName」に投稿されたメッセージ</h4>
    <p>グループ：@Model.Group.GroupName</p>
    <p><a href="#message-post-area">書き込む</a></p>
    <hr />
    @if (messages == null || messages.Count() == 0)
    {
        <p>メッセージはありません。</p>
    }
    else
    {
        foreach (var message in messages)
        {
            <dl class="dl-horizontal">
                <dt>
                    <a href="@Url.Action("Index", "User", new { id = message.SentUser.ID })">
                        <img src="@Url.Action("ProfileImage", "User", new { id = message.SentUser.ID, thumbnail = true })" alt="" title="@message.SentUser.DisplayName" style="width:80px;" />
                    </a>
                </dt>
                <dd>
                    <p>@Html.Raw(Html.Encode(message.Body).Replace("\n", "<br/>"))</p>
                    @if (message.AttachedDocumentID.HasValue)
                    {
                        <p>
                            <a href="@Url.Action("Download", new { groupId = Model.Group.ID, threadId = Model.ID, messageId = message.ID })" class="btn btn-default">
                                <span class="glyphicon glyphicon-paperclip"></span> @message.AttachedFileName
                            </a>
                        </p>
                    }
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <p>
                                Posted by <a href="@Url.Action("Index", "User", new { id = message.SentUser.ID })">@message.SentUser.DisplayName</a>
                                @if (message.Sent.HasValue)
                                {
                                    <text> at @(message.Sent.Value.ToString("yyyy/M/dd HH:mm"))</text>
                                }
                            </p>
                        </div>
                    </div>
                </dd>
            </dl>
        }
    }
    <hr />

    @using (Html.BeginForm("PostMessage", "CompanyProjectThread", null, FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {
        <div class="form-horizontal" id="message-post-area">
            <div class="form-group">
                @Html.Label("メッセージ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("Body", (string)ViewBag.Body, new { @class = "text-box multi-line form-control", @rows = "5" })
                    @Html.ValidationMessage("Body")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 olyzae-filegroup">
                    <div class="olyzae-file" style="display: none; border-radius: 4px; padding: 6px 12px; border: 1px solid #dddddd;">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="olyzae-filename" style="padding: 0em 0.5em;"></span>
                        <button type="button" class="close olyzae-removefile" style="float: none;">&times;</button>
                    </div>
                    <div class="olyzae-nofile">
                        <div class="btn btn-default olyzae-addfile" style="position: relative; overflow: hidden;">
                            <input type="file" name="uploadedFile" style="position: absolute; bottom: 0; right: 0; font-size: 100px; opacity: 0;" />
                            <span class="glyphicon glyphicon-paperclip"></span>ファイルを添付する
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="メッセージを投稿" class="btn btn-primary" />
                </div>
            </div>
        </div>
        @Html.Hidden("ThreadId", Model.ID)
    }
</div>
<p>
    @Html.ActionLink("一覧へ戻る", "Index")
</p>
@section scripts {
    @if (false)
    {
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    }
    <script type="text/javascript">
        function addFile($container, fileName) {
            $container.find('.olyzae-nofile').css({ display: 'none' });
            $container.find('.olyzae-filename').text(fileName);
            $container.find('.olyzae-file').css({ display: 'inline-block' });
        }
        function removeFile($container) {
            $container.find('.olyzae-file').css({ display: 'none' });
            $container.find('.olyzae-filename').text('');
            $container.find('.olyzae-nofile').css({ display: 'inherit' });
        }
        $(function () {
            $('.olyzae-filegroup input[type=file]').change(function () {
                var $container = $(this).closest('.olyzae-filegroup');
                var fileName = $(this).val().replace(/.*[/\\]/, '');
                if (fileName) {
                    addFile($container, fileName);
                } else {
                    removeFile($container);
                }
            });
            $('.olyzae-filegroup .olyzae-removefile').click(function () {
                var $container = $(this).closest('.olyzae-filegroup');
                $container.wrap("<form />");
                $container.parent().trigger('reset');
                $container.unwrap();
                removeFile($container);
            });
        });
    </script>
}