@model NihonUnisys.Olyzae.Models.ProjectGroup

@{
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";

    ViewBag.Title = "Details";
    var currentUser = ViewBag.CurrentUser as NihonUnisys.Olyzae.Models.ParticipantUser;
}

<h2>「@Html.DisplayFor(model => model.GroupName)」の情報</h2>
<p>
    @if (currentUser.BelongsToGroup(Model.ID))
    {
        @Html.ActionLink("グループのページへ移動", "Details", new { controller = "Group", groupId = Model.ID }, new { @class = "btn btn-default" });
    }
</p>

<div>
    <dl class="dl-horizontal">
        <dt>状態</dt>
        <dd>
            @if (currentUser.BelongsToGroup(Model.ID))
            {
                using (Html.BeginForm("Leave", "ProjectGroup"))
                {
                <span>参加中 | @Html.ActionLink("脱退する", "Leave", new { projectId = Model.Project.ID, groupId = Model.ID })</span>
                }
            }
            else
            {
                <span>未参加 | @Html.ActionLink("参加する", "Enter", new { projectId = Model.Project.ID, groupId = Model.ID })</span>
            }
        </dd>
        <dt>プロジェクト名
        </dt>
        <dd>
            @Html.Encode(Model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>参加中のユーザー</dt>
        <dd>
            @if (Model.ParticipantUsers.Count() > 0)
            {
                <ul>
                    @foreach (var item in Model.ParticipantUsers)
                    {
                        <li>@Html.ActionLink(item.ParticipantUser.DisplayName, "Index", "User", new { id = item.ParticipantUser.ID }, null)</li>
                    }
                </ul>

            }
            else
            {
                <p>参加者は0人です。</p>
            }
        </dd>
    </dl>
</div>

<p>
    <a href="@Url.Action("Index", new { projectId = Model.Project.ID })" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;グループ一覧へ戻る</a>
</p>
