@using NihonUnisys.Olyzae.Models;
@model NihonUnisys.Olyzae.Models.Thread

@{
    ViewBag.Title = "Create";
    var group = ViewBag.Group as Group;
}

@Html.Partial("_ParticipantUserGroupMenuPartial", group)

<h2>スレッドの新規作成 @Html.Encode("(" + ViewBag.GroupName + ")")</h2>

@using (Html.BeginForm("Create", "GroupThread", new { groupId = group.ID } , FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <h3>スレッドのタイトル</h3>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ThreadName, new { @class = "text-left" })
                @Html.ValidationMessageFor(model => model.ThreadName)
            </div>
        </div>
        <hr />
        <h3>スレッドの説明</h3>
        <p>このスレッドについて説明するメッセージを入力してください。</p>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextArea("Body", (string)ViewBag.Body, new { @class = "text-box multi-line form-control", @rows = "5" })
                @Html.ValidationMessage("Body")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 olyzae-filegroup">
                <div class="olyzae-file" style="display: none; border-radius: 4px; padding: 6px 12px; border: 1px solid #dddddd;">
                    <span class="glyphicon glyphicon-paperclip"></span>
                    <span class="olyzae-filename" style="padding: 0em 0.5em;"></span>
                    <button type="button" class="close olyzae-removefile" style="float: none;">&times;</button>
                </div>
                <div class="olyzae-nofile">
                    <div class="btn btn-default olyzae-addfile" style="position: relative; overflow: hidden;">
                        <input type="file" name="uploadedFile" style="position: absolute; bottom: 0; right: 0; font-size: 100px; opacity: 0;" />
                        <span class="glyphicon glyphicon-paperclip"></span>ファイルを添付する
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="新規作成" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.Hidden("GroupName", (string)ViewBag.GroupName)
}

<div>
    @Html.ActionLink("スレッド一覧に戻る", "Index", new { groupId = ViewBag.GroupId })
</div>

@section scripts {
    @if (false)
    {
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    }
    <script type="text/javascript">
        function addFile($container, fileName) {
            $container.find('.olyzae-nofile').css({ display: 'none' });
            $container.find('.olyzae-filename').text(fileName);
            $container.find('.olyzae-file').css({ display: 'inline-block' });
        }
        function removeFile($container) {
            $container.find('.olyzae-file').css({ display: 'none' });
            $container.find('.olyzae-filename').text('');
            $container.find('.olyzae-nofile').css({ display: 'inherit' });
        }
        $(function () {
            $('.olyzae-filegroup input[type=file]').change(function () {
                var $container = $(this).closest('.olyzae-filegroup');
                var fileName = $(this).val().replace(/.*[/\\]/, '');
                if (fileName) {
                    addFile($container, fileName);
                } else {
                    removeFile($container);
                }
            });
            $('.olyzae-filegroup .olyzae-removefile').click(function () {
                var $container = $(this).closest('.olyzae-filegroup');
                $container.wrap("<form />");
                $container.parent().trigger('reset');
                $container.unwrap();
                removeFile($container);
            });
        });
    </script>
}
